@charset "utf-8";
/* CSS Document */

[class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "EOGFontAwesome";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: none;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  font-size: 89%;
  padding: 4px 0px 0px 4px;
}
 
/*** Social Media ****************************************************/
.eog-social-bloque {
  width: 100%;
  display: inline-block;
  word-wrap: normal!important;
  clear: both;
  margin: 1em 0;
}

.eog-social-right {
  text-align: right;
}

.eog-social-left {
  text-align: left;
}

.eog-social-circle.eog-social-size-1 a {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.eog-social-circle.eog-social-size-2 a {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
}

.eog-social-circle.eog-social-size-3 a {
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.eog-social-square a {
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
}

.eog-social-rounded a {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.eog-social-rounded.eog-social-size-2 a {
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}

.eog-social-rounded.eog-social-size-3 a {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.eog-social-leaf.eog-social-size-1 a {
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 15%;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 15%;

  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 15%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 15%;

  border-top-left-radius: 2em;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 0%;
}
.eog-social-leaf.eog-social-size-2 a {
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 15%;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 15%;

  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 15%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 15%;

  border-top-left-radius: 3em;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 3em;
  border-bottom-left-radius: 0%;
}
.eog-social-leaf.eog-social-size-3 a {
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 15%;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 15%;

  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 15%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 15%;

  border-top-left-radius: 4em;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 4em;
  border-bottom-left-radius: 0%;
}

.eog-social-media {
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
}

.eog-social-media i {
  background: transparent;
  padding: 0.3em 0.3em 0.1em 0.1em;
  margin: 0 0 0.2em 0.2em;
  vertical-align: middle;
}

.eog-social-media a {
  display: inline-block;
  height: 100%;
  color: #FFF;
  border: none;
  opacity: 1;
  margin: 5px 5px;
}

.eog-social-rotate,
.eog-social-expand,
.eog-social-shownames {
  /*Transition*/
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.eog-social-shownames {
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  padding-right: 1.5em;
}

.eog-social-expand .eog-social-shownames {
  display: inline-block;
  width: 0px;
  font-size: 0em;
  overflow: hidden;
}

.eog-social-expand:hover .eog-social-shownames {
  width: 68px;
  font-size: 1.5em;
}

.eog-social-media a.eog-social-atenuate:hover {
  opacity: .5;
  /*Gradient*/
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

#facebook {
  color:#3b5998;
  border-color:#3b5998;
  border-style: solid;
  border-width: 2px;
  background:transparent;
}

#twitter {
  color:#00a0d1;
  border-color:#00a0d1;
  border-style: solid;
  border-width: 2px;
  background:transparent;
}

#gplus {
  color:#f00;
  border-color:#f00;
  border-style: solid;
  border-width: 2px;
  background:transparent;
}

#whatsapp {
  color:#21ab11;
  border-color:#21ab11;
  border-style: solid;
  border-width: 2px;
  background:transparent;
}

#facebook.eog-social-color {
  color:#fff;
  background:#3b5998;
  border-style: none;
}

#twitter.eog-social-color {
  color:#fff;
  background:#00a0d1;
  border-style: none;
}

#gplus.eog-social-color {
  color:#fff;
  background:#f00;
  border-style: none;
}

#whatsapp.eog-social-color {
  color:#fff;
  background:#21ab11;
  border-style: none;
}

.eog-social-rotate {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  overflow:hidden;
}

.eog-social-rotate:hover
{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}


/*******************************************************************************************/

.essb_links.essb_template_circles-retina a:hover,
.essb_links.essb_template_circles-retina a:focus {
  color: #FFF!important;

  background: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* IE10+ */

  background: linear-gradient(to bottom,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* W3C */

  box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 0 5px rgba(155,155,155,.38);
  background-clip: padding-box;
}
#xxxbutton1 {
  background: #6292c2;
  border: 2px solid #eee;
  height: 28px;
  width: 115px;
  margin: 50px 0 0 50px;
  padding: 0 0 0 7px;
  overflow: hidden;
  display: block;
/*Rounded Corners*/
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
 
/*Gradient*/
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
/*Transition*/
-webkit-transition: All 0.5s ease;
-moz-transition: All 0.5s ease;
-o-transition: All 0.5s ease;
-ms-transition: All 0.5s ease;
transition: All 0.5s ease;
}
#xxxbutton1:hover {
  width: 200px;
}